/* ABOUT US */
.about-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-img {
  width: 40%;
}

.about-info span {
  color: var(--clr-button);
  font-weight: var(--fw-semiBold);
}

.about-info h2 {
  margin-top: 1rem;
}

.about-info p {
  width: 80%;
  color: var(--clr-reg-text);
}

.about-info-button {
  display: flex;
  align-items: center;
  gap: 2em;
}

.play-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 800px) {
  .about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .about-img {
    width: 100%;
    margin-top: -1em;
  }
}
