/* MAINSLIDER */
.mainSlider-section {
  padding-top: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.mainSlider-section p {
  font-weight: var(--fw-med);
}

.slider img {
  width: 100%;
}

.slider-button {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

@media (max-width: 800px) {
  .slider-img {
    display: none;
  }

  .mainSlider-section p {
    width: 50%;
  }

  .slider {
    background-image: url("../../images/Slide Frame 1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
  }
}
