@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("./styles/general/navbar.css");
@import url("./styles/general/footer.css");
@import url("./styles/general/typography.css");
@import url("./styles/general/button.css");
@import url("./styles/home1/home1.css");
@import url("./styles/general/general.css");

:root {
  --clr-bg: #f5f5f5;
  --clr-light: white;
  --clr-dark: #091156;
  --clr-reg-text: #8b8b8b;
  --clr-button: #ff64ae;
  --clr-border: #d9ddfe;
  --clr-placehoder: #c5c5c5;
  --clr-footer: #d7dbff;
  --clr-active: #414880;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h4: 1.125rem;
  --fs-body: 1rem;

  --fw-reg: 400;
  --fw-med: 500;
  --fw-semiBold: 600;
}
